.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Img-overlay-header {
  /* min-height: 100vh; */
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Img-overlay {
  position: relative;
  top: -975px;
  right: 0px;
 
}

.Img-all {
  position: relative;
  top: -975px;
  right: 0px;  
}

.Img-overlayAb {
  position: relative;
  top: -975px;
  right: 0px;  
  /* -410 */
 
}

.Img-overlayAc {
  position: relative;
  top: -990px;
  right: 0px;
  /* 415 */
}


.Img-background {
  width: 100%;
  position: relative;
}

.image-overlay {
  position: absolute; 
  top: 0;
  bottom: 0; 
  /* width: 100%; */ 
  transition: .5s ease;
  /* z-index: 1; */
  position: absolute;
}

.image-container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Btn-style {
  top: 0px;
  font-size: 30px;
  text-align: center;
  padding: 15px 32px;

}

.Format-style {
  top: 0px;
}



.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
